<!-- app/views/campaigns/show.html.erb -->
<h1><%= @campaign.name %></h1>
<h2>Candidates</h2>
<ul>
  <% @campaign.votes.each do |vote| %>
    <li><%= vote.choice %>: <%= vote.validity %></li>
  <% end %>
</ul>
<p>Uncounted Messages: <%= @uncounted_messages_count %></p>
